<div id="add_new_user" class="well edit">
  <h1 style="margin: 0px auto; color: #193750">
    <u class="greeting-edit"style="display: inline-block; position: relative; left: 440px;">Edit Profile</u>
  </h1>
  <br/>
  <%= form_for @user do |c| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= c.label :name %>
      <%= c.text_field :name, :class => "name_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :username %>
      <%= c.text_field :username, :class => "username_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :bio %>
      <%= c.text_area :bio, class: "bio_input_user_edit" %>
    </div>
    <div class="field">
      <%= c.label :current_city, class: "cc_field" %>
      <%= c.text_field :current_city, :class => "current_city_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :current_state, class: "cs_field" %>
      <%= c.text_field :current_state, :class => "current_state_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :current_country, class: "ccu_field" %>
      <%= c.text_field :current_country, :class => "current_country_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :email, class: "email_field" %>
      <%= c.text_field :email, :class => "email_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :password, class: "password_field" %>
      <%= c.password_field :password, :class => "password_input_new_user" %>
    </div>
    <div class="field">
      <%= c.label :password_confirmation, class: "password_confirmation_field" %>
      <%= c.password_field :password_confirmation, :class => "password_confirmation_input_new_user" %>
    </div>
    <br/>
    <div class="actions">
      <%= c.submit class: "submit-btn-actions" %>
    </div>
  <% end %>
</div>
